.base_input {
  padding: 0.3em;
  padding-left: 0.6em;
  font-size: 1.6rem;
  line-height: 100%;
  color: $main_tx_cl;
  background-color: inherit;
  border: 1px solid $main_tx_cl;
  border-radius: 1em;
  &:focus {
    outline: none;
  }
}
