$main_bg_cl: rgb(255, 246, 234);
$menu_bg_cl: rgb(255, 240, 222);

$main_tx_cl: saddlebrown;

$cursive_font: "Comfortaa", cursive;
$main_font: "Roboto", sans-serif;
$header_font: "Rubik", sans-serif;

$header_height: 52px;
$footer_height: 50px;
