.btn {
  box-sizing: border-box;
  display: block;
  align-items: baseline;

  color: $main_tx_cl;
  font-family: $main_font;
  font-size: 1.6rem;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $main_tx_cl;
  background-color: inherit;
}

.primary {
  padding: 0.6em;
  margin: 0.3em;

  &:hover {
    padding: 0.4em;
    margin: 0.5em;
  }
  &.active {
    background-color: $main_tx_cl;
    color: unset;

    &:hover {
      padding: 0.6em;
      margin: 0.3em;
    }
  }
}

.round {
  margin: 0;
  padding: 0.5em;
  font-size: 1.4rem;
  border-radius: 1.5em;

  &:hover,
  &.active {
    background-color: $main_tx_cl;
    color: unset;
  }
}
