.btn {
  box-sizing: border-box;
  display: block;
  align-items: baseline;

  font-family: $main_font;
  font-size: 16px;
  line-height: 100%;
  color: $main_tx_cl;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid $main_tx_cl;
  background-color: $menu_bg_cl;
}

.primary {
  padding: 12px;
  margin: 5px;
  &:hover {
    padding: 9px;
    margin: 8px;
  }

  &.active {
    background-color: $main_tx_cl;
    color: $menu_bg_cl;

    &:hover {
      padding: 12px;
      margin: 5px;
    }
  }
}

.round {
  margin: 0;
  padding: 7px;
  font-size: 14px;
  border-radius: 20px;

  &:hover,
  &.active {
    padding: 7px;
    background-color: $main_tx_cl;
    color: $main_bg_cl;
  }
}
