.btn {
  padding: 10px;
  margin: 5px;
  font-family: $main_font;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: $main_tx_cl;
  text-align: center;
  border: 1px solid $main_tx_cl;

  &:hover {
    padding: 7px;
    margin: 8px;
  }

  &.active {
    background-color: $main_tx_cl;
    color: $menu_bg_cl;

    &:hover {
      padding: 10px;
      margin: 5px;
    }
  }
}

.primary {
  background: transparent;
}
