.filter_bar {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  border: 1px solid $main_tx_cl;
  border-radius: 10px;

  .filter_name {
    margin-left: 2px;
    font-size: 16px;
    color: $main_tx_cl;
  }
  .clear_btn {
  }

  .filter_swich {
    display: flex;
    flex-wrap: wrap;

    .filter_key {
      margin: 3px;
      padding: 3px 6px;
      border-radius: 3px;
      background-color: rgba($color: #000000, $alpha: 0.2);

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }

      &.active {
        background-color: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }
}
