.filter_bar {
  min-width: min-content;
  padding: 0.5em;
  font-size: 1.6rem;
  // border: 1px solid currentColor;
  border-radius: 0.5em;

  .filter_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;

    .fake_line {
      height: 0;
      border-top: 1px solid currentColor;
      overflow: hidden;
    }

    .filter_name {
      margin: 0 1em;
      color: $main_tx_cl;
    }
    .clear_btn {
      color: black;
      font-size: 1em;
      background-color: inherit;
    }
  }

  .filter_swiches {
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;

    .filter_key {
      color: #000000;
      padding: 0.1em 0.3em;
      border-radius: 0.2em;
      background-color: rgba($color: #000000, $alpha: 0.2);

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
      }

      &.active {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }
    }
  }
}
