.filter_bar {
  min-width: min-content;
  padding: 0.5em;
  font-size: 1.6rem;
  border-radius: 0.5em;
  user-select: none;

  .filter_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;

    .filter_name {
      margin: 0 1em;
      color: $main_tx_cl;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .clear_btn,
    .reverse_btn {
      min-width: 4em;
      color: black;
      font-size: 1em;
      justify-content: center;
      background-color: inherit;
    }
  }

  .filter_swiches {
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;

    .filter_key {
      color: #000000;
      padding: 0.1em 0.3em;
      border-radius: 0.2em;
      background-color: rgba($color: #000000, $alpha: 0.2);

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
      }

      &.active {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }
    }
  }
}
