$menu_btn_font_size: 0.6em;
$nav_padding_top_bot: 1em;
$nav_padding_left_right: 1em;

.nav {
  font-size: 1.6rem;

  position: relative;
  z-index: 10;

  display: flex;

  background-color: inherit;

  .menu_btn {
    font-size: $menu_btn_font_size;
    z-index: 1;
  }

  .links {
    @include gray-scroll;
    overflow-y: auto;

    margin: 0;
    padding: 0;
    height: 0;
    width: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: fixed;

    background-color: $v1_bg_cl;
    border-radius: $menu_btn_font_size;

    &.active {
      width: fit-content;
      height: fit-content;
      max-height: calc(100% - $header_height - 3em);

      padding: 1em;

      top: calc($header_height - 0.3em);
      left: max((100vw - $container_max_widht) / 2, $nav_padding_left_right);

      gap: 1em;

      outline: 1px solid $p_d_yellow_1;
    }

    .link_bundle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4em;

      .bundle_name {
        font-size: 1.1em;
        text-align: center;
        text-transform: uppercase;
        color: black;
      }

      .link {
        margin: 0 0 0 1em;

        position: relative;

        &::after {
          display: block;
          content: "";

          width: 0.3em;
          height: 0.3em;

          position: absolute;
          top: 50%;
          left: -0.5em;

          transform: translate3d(-50%, -50%, 0);

          border-radius: 50%;
          background-color: $third_tx_cl;
        }
      }
    }
  }
}
