.nav {
  width: max-content;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-color: $menu_bg_cl;

  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -200%;
    top: 50px;
    transition: left 0.5s;

    &.active {
      left: 0;
    }
    background-color: $menu_bg_cl;
  }
}
