.spells_page {
  height: 100%;
  display: flex;
  font-size: 1.6rem;

  .spell_list {
    height: 100%;
    display: flex;
    flex-direction: column;

    .managebar {
      padding: 1em;
      padding-bottom: 0px;
      display: flex;

      .input {
        width: 13em;
        position: relative;
        z-index: 1;
      }

      .filter_btn {
        padding-left: 1em;
        padding-right: 1em;
      }

      .clear_btn {
        background-color: $main_bg_cl;
      }
    }

    .list {
      overflow-y: scroll;
      @include gray-scroll;

      height: 100%;
      padding-left: 1em;
      padding-right: calc(1em - $scrollbar_width);

      position: relative;

      display: flex;
      flex-direction: column;

      .list_top_shadow,
      .list_bottom_shadow {
        display: block;
        width: 100%;
        min-height: 1.5em;
        position: sticky;
      }
      .list_top_shadow {
        top: 0;
        background: linear-gradient(#{$main_bg_cl}, #{$main_bg_cl}, rgba($main_bg_cl, 0.6), rgba(#fff, 0));
      }
      .list_bottom_shadow {
        bottom: 0;
        background: linear-gradient(rgba(#fff, 0), rgba($main_bg_cl, 0.6), #{$main_bg_cl}, #{$main_bg_cl});
      }

      .spell_link_item + .spell_link_item {
        margin: 1.5em 0 0 0;
      }
    }
  }

  .content_wrap {
    padding: 0.6em;
    display: flex;
    flex: 1;

    .content_zone {
      overflow: hidden;
      flex: 1;
      border-radius: 1em;
      color: $main_tx_cl;
      background-color: $v1_bg_cl;

      .filters_wrap {
        height: 100%;
        display: flex;
        flex-direction: column;

        .windiow_name {
          padding: 1em 0;

          display: flex;
          align-items: center;

          font-size: 2rem;
          font-weight: bold;

          background: linear-gradient(rgba($p_l_orange_1, 0.15), $v1_bg_cl);
          &::after,
          &::before {
            display: block;
            content: "";
            flex: 1;
            height: 0.2em;
            margin: 0 1em;
            border-top: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
          }
        }

        .filters_windiow {
          margin: 1.2em;
          margin-top: 0;
          margin-right: calc(1em - $scrollbar_width);
          padding-right: 0.2em;
          overflow-y: scroll;
          @include gray-scroll;

          display: flex;
          flex-wrap: wrap;
          gap: 1em;
          justify-content: space-evenly;
          align-items: baseline;

          .filter {
            background-color: $v2_bg_cl;
            flex-grow: 1;
          }
        }
      }
    }
  }
}
