$line-width: 1px;

.hiding_btn {
  padding: 0px;
  color: $main_tx_cl;
  font-size: 1.6rem;
  white-space: nowrap;

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  background: none;
  border: none;

  .line_left,
  .line_right {
    display: none;
  }
}

.line {
  padding: 0 1em;
  .line_left,
  .line_right {
    display: block;
    width: 50%;
    height: 1em;

    position: absolute;
    transition: all 0.2s;
    background-color: inherit;
    &::after {
      display: block;
      content: "";
      height: $line-width;
      width: 100%;

      position: absolute;
      top: calc(50% - #{$line_width});

      background-color: $main_tx_cl;
    }
  }
  .line_left {
    left: 0;
  }
  .line_right {
    right: 0;
  }
  &.visible {
    .line_left {
      left: calc(-50% - 1px - #{$line-width} + 1em);
      box-shadow: $line-width 0 0 0 $main_tx_cl;
      // border-left: $line-width solid $main_tx_cl;
    }
    .line_right {
      box-shadow: -$line-width 0 0 0 $main_tx_cl;
      right: calc(-50% - 1px - #{$line-width} + 1em);
      // border-right: $line-width solid $main_tx_cl;
    }
  }
}

.collapse {
  &::after,
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    height: calc(50% - $line-width / 2);
    transition: all 0.2s;
    background-color: inherit;
  }
  &::before {
    top: 0px;
    border-bottom: $line-width solid $main_tx_cl;
  }
  &::after {
    bottom: 0px;
    border-top: $line-width solid $main_tx_cl;
  }
  &.visible {
    &::before {
      top: calc(-50% + $line-width);
    }
    &::after {
      bottom: calc(-50% + $line-width);
    }
  }
}
