.header {
  box-sizing: border-box;
  width: 100%;
  height: $header_height;
  padding: 0 2em 1em 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient($menu_bg_cl, $menu_bg_cl, rgba(#000, 0));

  .nav_icon {
    margin-right: 1em;
  }

  .home {
    padding: 0.5em;
    margin-right: auto;
    border-radius: 0.5em;
    font-weight: 900;

    transition: all 0.5s;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}

@media (min-width: $container_max_widht) {
  .header {
    box-shadow: inset 2em 0 1em -1em $main_bg_cl, inset -2em 0 1em -1em $main_bg_cl;
  }
}
