.spell_wrap {
  padding: 0.5em;
  font-family: $main_font;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 0.5em;
  background: linear-gradient(to right, rgba($p_d_orange_1, 0.2), rgba($r_yellow, 0.1));

  display: grid;
  gap: 0.5em;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "level name"
    "level school";

  justify-content: start;

  .spell_name {
    grid-area: name;
    color: $main_tx_cl;
  }

  .level_wrap {
    grid-area: level;
    width: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid black;

    .spell_level {
      width: 1em;
      height: 1em;

      color: black;
      font-family: $cursive_font;
      font-size: 2.5rem;
      text-align: center;

      // background-color: $p_d_orange_1;
      // box-shadow: 0 0 0 0.2em $p_d_orange_1;
      // border-radius: 50%;
    }
  }

  .spell_school {
    grid-area: school;
    color: black;
  }

  &.active {
    background: linear-gradient(to right, rgba($p_d_orange_1, 0.4), rgba($r_yellow, 0.2));
  }
}
