.spell_wrap {
  padding: 5px;
  font-family: $main_font;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(to right, rgba($main_tx_cl, 0.2), rgba($main_tx_cl, 0.1));

  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "level name"
    "level school";

  justify-content: start;

  .spell_name {
    grid-area: name;
    color: $main_tx_cl;
  }

  .level_wrap {
    grid-area: level;
    width: 50px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid black;

    .spell_level {
      width: 25px;
      height: 25px;
      font-family: $cursive_font;
      font-size: 25px;
      text-align: center;
    }
  }

  .spell_school {
    grid-area: school;
    color: black;
  }
}
