.btn{
    padding: 10px;
    margin: 5px;
    font-family: Rubik;
    text-transform: uppercase;
    font-size: 16px;
    color: $main_tx_cl;
    text-align: center;
    background:transparent;
    border: 1px solid $main_tx_cl;
    &:hover{
        padding: 7px;
        margin:8px;
    }
    &.active{
        background-color: $main_tx_cl;
        color: $menu_bg_cl;
        &:hover{
            padding: 10px;
            margin: 5px;
        }
    }
}

